.productsHeading{
    margin:2vmax auto;
    width:15vw;
    border-bottom: 1px solid rgba(0,0,0,0.171);
    padding:2vmax;
    color:rgb(0, 0, 0);
    font:500 1.5vmax "Roboto";
    text-align: center; 
    
}
.products{
    display: flex;
    flex-wrap: wrap;
    padding:0.5vmax;
  margin-left:9.3vmax;
    justify-content: center;
}
.paginationBox{
    display: flex;
    justify-content: center;
 
    margin: 6vmax;
}
.pagination{
    display: flex;
    padding:0;
    justify-content: center;

}
.page-item{
    background-color: rgb(255,255,255);
    list-style:none;
    border:1px solid black;
    cursor:pointer;
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
}
.page-item:first-child{
 border-radius: 5px 0 0 5px;   
}
.page-item:last-child{
    border-radius: 0 5px 5px 0;
}
.page-link{
    text-decoration: none;
    font:300 0.7vmax "Roboto";
    color:rgb(80 80 80);
    transition: all 0.3s;

}
.page-item:hover{
    background-color: rgb(154, 151, 151);

}
.page-item:hover .page-link{
color:rgb(56, 54, 54)
}

.pageItemActive{
background-color: tomato;
color:rgb(80 80 80)
}
.pageLinkActive{
background-color: rgb(249, 245, 245);
}
.filterBox{
    width:10vmax;
    position: absolute;
    position: fixed;
    top:7.6vmax;
   
    left:2vmax
}

.flavourBtn {
    /* Your default button styles */
    background-color: #dce2e8;
    color: #2f2e2e;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px;
    transition: all 0.3s;
  }

  
  .flavourBtn:hover{
    background-color: #929496;
    }

    .flavourBtn.active {
     
        background-color:tomato;
        color: white; 
        
      }
 

.categoryBox{
    padding:0%
}
.category-link{
list-style: none;
color: black;
font:400 0.8vmax "Roboto";
margin:0.4vmax;
cursor: pointer;
transition: all 0.5s;

}
.category-link:hover{
    color: rgb(157, 162, 165);
}
.filterBox fieldset{
    border: 1px solid rgb(47, 46, 46);
}
@media screen and (max-width:600px) {
   .filterBox{
    width: 20vmax;
    position: static;
    margin: auto;
   } 

   .page-link{
    font:300 1.7vmax "Roboto";
}
.category-link{
    font:400 1.8vmax "Roboto"
}
}