.paymentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
   background-color: rgb(254, 254, 253);
 
  }

  .div{
    display:flex;
    padding: 28px;
    }
  .paymentContainer div input{
    width: 5vw;
    height: 5vh;
    margin-left: 5px;
  }